<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">CV</h2>
            <h3 class="section-subheading text-muted">Marcelo - Curriculum Vitae.</h3>
        </div>
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-pill img-fluid" src="/unsplash/cv/repair3.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2007 - 2009</h4>
                        <h4 class="subheading">Quanta Informatica</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">I've working for about 2 years how computer technical support</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-pill img-fluid" src="/unsplash/cv/repair4.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Boot Computers S.A. </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">I've working for about 2 years how computer technical support
                            <br />
                        - Repairing Computers and Printers
                            <br />
                        - Building PC's
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-pill img-fluid" src="/unsplash/cv/windows_server7.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>May 2011 - May 2014</h4>
                        <h4 class="subheading">Registro de la Propiedad</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">I've been working in a network infrastructure team!
                        <br />
                        - Repairing Computers and Printers
                        <br />
                        - Building structured cabling
                        <br />
                        - Building PC's
                         </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-pill img-fluid"
                        src="/unsplash/cv/code4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>May 2014 - Today</h4>
                        <h4 class="subheading">Registro de la Propiedad - Sysadmin</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                            unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-pill img-fluid"
                        src="/unsplash/cv/develop.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2020 - </h4>
                        <h4 class="subheading">Junior Developer</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">This was my start in the world of development, starting with several courses and bootcamps
                                            <br />
                                            - HTML and CSS
                                            <br />
                                            - Python and Django
                                            <br />
                                            - Ruby and Ruby on Rails
                                            <br />
                                            - PostgreSQL!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Never
                        <br />
                        Stop
                        <br />
                        Learning
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>